[github]
	user = masukomi
	token = 85f6f36152b1c74e1db9ac6202336d44
#[user]
#	email = masukomi@masukomi.org
#	name = masukomi
[user]
	email = krhodes@rbmtechnologies.com
	name = Kay Rhodes
#[user]
#	email = vmoroz@rbmtechnologies.com
#	name = Victor Moroz
[status-report]
	include = /Users/krhodes/workspace/vmm_copy
	email = krhodes@rbmtechnologies.com
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[core]
	excludesfile = /Users/krhodes/.gitignore_global
	quotepath = false
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	ci = commit
	cia = commit --amend
	ciaa = commit -a --amend
	br = branch
	co = checkout
	df = diff
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	loll = log --graph --decorate --pretty=oneline --abbrev-commit
	lol = !git --no-pager loll
	lolal = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lola = !git --no-pager lolal
	ls = ls-files
	unstash = stash pop
	changed = status -uno
	st = status -sb
	master-sync = "!f() { echo Syncing $1 with master && git checkout master && git pull && git checkout $1 && git rebase master; }; f"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
[push]
	default = upstream
