[github]
	user = masukomi
	token = 85f6f36152b1c74e1db9ac6202336d44
#[user]
#	email = masukomi@masukomi.org
#	name = Masukomi
[user]
	email = krhodes@rbmtechnologies.com
	name = Kay Rhodes
[status-report]
	include = /Users/krhodes/workspace/vmm_copy
	email = krhodes@rbmtechnologies.com
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
	
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[alias]
	master-sync = "!f() { echo Syncing $1 with master && git checkout master && git pull && git checkout $1 && git rebase master; }; f"
[core]
	excludesfile = /Users/krhodes/.gitignore_global
	quotepath = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	ci = commit
	cia = commit --amend
	ciaa = commit -a --amend
	br = branch
	co = checkout
	df = diff
	lg = log -p
	loll = log --graph --decorate --pretty=oneline --abbrev-commit
	lol = !git --no-pager loll
	lolal = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lola = !git --no-pager lolal
	ls = ls-files
	unstash = stash pop
	changed = status -uno
