[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/Floobits"]
	path = .vim/bundle/Floobits
	url = git://github.com/Floobits/vim-plugin.git
[submodule ".vim/bundle/vim-slime"]
	path = .vim/bundle/vim-slime
	url = git@github.com:masukomi/vim-slime.git
[submodule ".vim/bundle/rainbow_parentheses.vim"]
	path = .vim/bundle/rainbow_parentheses.vim
	url = git@github.com:masukomi/rainbow_parentheses.vim.git
[submodule ".vim/bundle/criticmarkup-vim"]
	path = .vim/bundle/criticmarkup-vim
	url = git@github.com:goldfeld/criticmarkup-vim.git
[submodule ".vim/bundle/vim-racket"]
	path = .vim/bundle/vim-racket
	url = git@github.com:wlangstroth/vim-racket.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = git@github.com:gmarik/Vundle.vim.git
